body{
    display: flex;
    flex-direction: column;
    background-color: rgb(180, 8, 80);
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
    background-color: lightblue;
}

aside {
    flex: 1;
    overflow-y: auto;
    background-color: cornsilk;
}

.logo{
    width: 70px;
    height: auto;
}

.text{
    font-size: 20px;
    color: lightblue;
}

.page{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    color: whitesmoke;
}
